body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "JetBrains Mono", monospace;
    color: white;
    overflow: hidden;
}

.cen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cen h1 {
    font-size: 6rem;
    text-align: center;
    animation: title 3s ease-in-out;
}

@keyframes title {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    60% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(5rem);
    }
}

.after {
    display: none;
}

.top {
    padding-left: 3rem;
}

.top h1 {
    font-size: 4rem;
    margin: 2rem 0 0;
    animation: header-main 1s ease-in-out;
}

.top h2 {
    font-size: 2rem;
    margin-top: 1rem;
    animation: header-submain 1.3s ease-in-out;
}

@keyframes header-main {
    0% {
        opacity: 0;
        margin-left: -5rem;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes header-submain {
    0% {
        opacity: 0;
        margin-left: -5rem;
    }
    30% {
        opacity: 0;
        margin-left: -5rem;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

.content {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content .item {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    animation: content-intro 1s ease-in-out;
}
.content .midori {
    animation-delay: 10s;
    animation: content-intro 1s ease-in-out;
}
.content .item h1, .content .item h2 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content .item button {
    background-color: #ee7dff;
    border: none;
    color: #310138;
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: .5rem;
    font-family: "JetBrains Mono", monospace;
    font-weight: 600;
}

.content .item button:hover {
    background-color: #ff9dff;
    cursor: pointer;
}

.midori .right button {
    color: white;
    background-color: rgb(18,138,250);
}
.midori .right button:hover {
    background-color: rgb(18,138,250,.493);
}

@keyframes content-intro {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

hr {
    width: 95%;;
}

h3 {
    text-align: center;
    margin-top: 5rem;
}

footer {
    position: fixed;
    bottom: 1rem;
    text-align: center;
    width: 100%;
}

@keyframes caret-blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.caret {
    animation: 1s caret-blink infinite;
    position: relative;
    bottom: 4px;
}